input {
    generator {
      lines => [
        "line 1",
        "line 2"
      ]
      count => 1
  }
}

filter {
  mutate {
    add_field => {
      "app" => "myapp"
    }
  }
}

output {
  lumberjack {
    codec => json
    hosts => ["127.0.0.1"]
    port => 5000
    ssl_certificate => "/tmp/certs/jerry.crt"
  }
}
