<source>
  @type monitor_agent
  bind 0.0.0.0
  port 24220
</source>

<source>
  @type beats
  metadata_as_tag
  port 5000
  use_ssl true
  ssl_certificate /tmp/certs/jerry.crt
  ssl_key /tmp/certs/jerry.key
</source>

<label @FLUENT_LOG>
  <match fluent.*>
    @type stdout
  </match>
</label>

<%= ENV['FLUENTD_FILTERS'] || "" %>

<match **>
  <%= ENV['FLUENTD_OUTPUT_CONFIG'] || "" %>
</match>
